<script>
$(document).ready(
  function(){
  
    setInterval(function(){
       $('#container').load('/progress_webs/update');
    }, 500);
  });


</script>
<p>
  <strong>Getting file from URL:  <%= @progress_web['url'] %></strong>
 
</p>
    <div id="container"> </div>
  <div id="progressbar"></div>

